@function icon($path) {
    @return '../../../assets/icons/' + $path;
}

@mixin fixed-img-placeholder($icon) {
    content: '';
    width: 96px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(icon($icon));
    background-position: center;
    background-repeat: no-repeat;
}

@mixin action-button($icon) {
    width: 64px;
    height: 64px;
    margin: 16px 16px 16px 0;
    background-image: url(icon($icon));
    background-size: contain;
}

.SDK__playlist-item {
    display: flex;
    flex-direction: column;
    width: 1012px;
    height: 96px;
    border-radius: 8px;
    transition: height 0.3s ease-in, top 0.3s, opacity 0.3s;
    position: relative;
    overflow: hidden;

    &--focused {
        background-color: rgba(245, 245, 245, 0.2);
    }

    &--showing-info {
        height: 320px;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left;
        width: 100%;
        min-height: 96px;
        overflow: hidden;

        &__thumbnail {
            width: 96px;
            height: 96px;
            margin: 0 24px 0 0;
            border-radius: 8px;
            position: relative;
            overflow: hidden;

            &__img {
                width: 96px;
                height: 96px;
                background-position: center;
                background-size: cover;
                background-color: transparent;
                position: relative;
                z-index: 1;

                &:before {
                    @include fixed-img-placeholder('playlist-item-placeholder.svg');
                    background-size: 36px 28px, contain;
                    background-color: rgba(245, 245, 245, 0.15);
                    z-index: 0;
                }
            }

            &__wave {
                @include fixed-img-placeholder('playlist-item-waves.svg');
                background-size: 64px 64px, contain;

                &--hidden {
                    opacity: 0;
                }
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            width: 708px;
            margin-right: 24px;
            p {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__progress {
                display: flex;
                flex-direction: row;
                &__status {
                    background-color: red;
                    width: 222px; // 196px
                    height: 25px;
                    &__check-icon {
                    }
                }
                &__progress-bar {
                }
            }
        }

        &__actions {
            display: flex;
            flex-direction: row;

            &__play {
                @include action-button('playlist-item-bt-play-default.svg');

                &--focused {
                    background-image: url(icon('playlist-item-bt-play-focused.svg'));
                }
            }

            &__pause {
                @include action-button('playlist-item-bt-pause-default.svg');

                &--focused {
                    background-image: url(icon('playlist-item-bt-pause-focused.svg'));
                }
            }

            &__info {
                @include action-button('playlist-item-bt-info-default.svg');

                &--focused {
                    background-image: url(icon('playlist-item-bt-info-focused.svg'));
                }
            }

            &__close {
                @include action-button('playlist-item-bt-close-default.svg');
                &--focused {
                    background-image: url(icon('playlist-item-bt-close-focused.svg'));
                }
            }
        }
    }

    &__description {
        width: 948px;
        height: 176px;
        margin: 24px 32px;
        font-family: WorkSans;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: -0.54px;
        overflow: hidden;
        opacity: 0;
        transition: opacity 300ms ease-in;

        &--showing-info {
            opacity: 1;
        }
    }

    svg {
        height: 90vh;
        margin: auto;
        display: block;
    }

    path {
        stroke-linecap: round;
        stroke-width: 2;
    }

    path.grey {
        stroke: lightgrey;
    }

    path.purple {
        stroke: purple;
        stroke-dasharray: calc(40 * 3.142 * 1.85);
        stroke-dashoffset: 20;
        /* adjust last number for variance */
    }
}
