$core-white: #ffffff;
$core-light: #f5f5f5; // White substitute, for texts and navigation focus over dark/saturated backgrounds. Not for backgrounds.
$core-light-alt: #eeeeee;
$core-mediumlight: #d8d8d8; // White substitute, for navigation elements (arrows, dividers) and small element backgrounds in dark/saturated backgrounds.
$core-mediumlight-alt: #c1c1c1;
$core-medium: #a2a2a2; // Not for fullscreen backgrounds or cards, carousels, fanart or launcher.
$core-medium-alt: #6f6f6f;
$core-mediumdark: #4a4a4a; // Black substitute, for texts or navigation elements. Also optionally transparent as background in items, labels, tabs, notifications, scrolls...
$core-mediumdark-alt: #313131;
$core-dark: #1f1f1f; // Black substitute, optionally transparent, for background in modals, full screen keyboards and overlays. Recommended for texts and navigation focus over light backgrounds.
$core-dark-alt: #0a0a0a;
$core-black: #000000;

$core-primary: #00a9e0;
$core-movistar-blue: #019df4;
